<div class="center-align">
    <div class="card">
        <form [formGroup]="formsubmit" (ngSubmit)="signup()">
            <div class="form-group">
                <input type="text" class="form-control" id="fullname" placeholder="FullName" formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }">
              </div>
            <div class="form-group">
                <input type="date" class="form-control" id="dob" placeholder="01/01/2000" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }">
              </div>   
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="johncena@yahoo.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
              </div>  
            <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="9000090000" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
              </div>  
            <div class="form-group">
                <input type="password" class="form-control" id="pswd" placeholder="Enter password" formControlName="pswd" [ngClass]="{ 'is-invalid': submitted && f['pswd'].errors }">
              </div>
            <div class="form-group">
                <input type="password" class="form-control" (keyup)="pwdvalidate()" id="c_pswd" placeholder="Confirm password" formControlName="c_pswd" [ngClass]="{ 'is-invalid': submitted && f['c_pswd'].errors }">
                <p style="margin-top: 3px; color:red;" *ngIf="validate">Password doesn't match</p>
              </div>
              <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
        </form>
    </div>
</div>